.yugioh-container {
    position: relative;
}

.yugioh-container .furigana {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    word-break: break-all;
}
.yugioh-container .furigana ruby {
    display: inline-flex;
    flex-direction: column-reverse;
    position: relative;
    top: -4px;
    height: 0px;
}
.yugioh-container .furigana rt {
    /*
    position: absolute;
    top: -12px;
    left: 0;
    min-width: 100%;
    white-space: nowrap;
    */
    font-family: ygo-tip, serif;
    font-weight: 700;
    display: inline;
    height: 0;
    text-align: center;
}
.yugioh-container .furigana .katakana rt {
    text-align-last: justify;
}
.yugioh-container .furigana rb {
    text-align: center;
    line-height: 1;
}
.yugioh-container .furigana span {
    display: inline;
    word-break: break-all;
}
.yugioh-container .furigana .newline {
    width: 100%;
}

.yugioh-container .card {
    position: absolute;
    width: 1394px; 
    height: 2031px;
    border-radius: 24px;
    line-height: 1.15;
    transform-origin: top left;
}
.yugioh-container .card.card-auto {
    left: 50%;
    top: 50%;
    transform: scale(var(--card-scale), var(--card-scale)) translateX(-50%) translateY(-50%);
}

.yugioh-container .name {
    position: absolute;
    top: 96px;
    left: 116px;
    width: 1030px;
    height: 124px;
    font-size: 108px;
    white-space: nowrap;
    transform-origin: top left;
}
.yugioh-container .name span.rt, .yugioh-container .name rt {
    font-size: 24px;
    line-height: 1.15;
}
.yugioh-container .name.name-sc {
    font-family: custom1, serif
}
.yugioh-container .name.name-tc {
    font-family: ygo-tc,'楷体', serif;
}
.yugioh-container .name.name-en {
    font-family: ygo-en-name, serif;
    top: 58px;
    font-size: 158px;
}
.yugioh-container .name.name-kr {
    font-family: ygo-kr-name;
}
.yugioh-container .name.name-jp {
    font-family: ygo-jp, serif
}
.yugioh-container .name.furigana ruby {
    top: -9px;
    gap: 3px;
}
.yugioh-container .name.furigana rt {
    font-size: 18px;
}
.yugioh-container .name.name-white {
    color: white;
}

.yugioh-container .attribute {
    position: absolute;
    left: 1163px;
    top: 96px;
    width: 128px;
    height: 128px;
}

.yugioh-container .level {
    display: flex;
    position: absolute;
    top: 247px;
    right: 147px;
    line-height: 1.15;
}
.yugioh-container .level.level-13 {
    right: 101px;
}
.yugioh-container .level.level-xyz {
    left: 147px;
    text-align: left;
}
.yugioh-container .level.level-xyz.level-13 {
    left: 101px;
    text-align: left;
}
.yugioh-container .level img.star {
    margin-left: 4px;
}
.yugioh-container img.type-icon {
    width: 72px;
    height: 72px;
    margin-top: 5.4px;
}

.yugioh-container .mask {
    position: absolute;
    top: 322px;
    left: 117px;
}
.yugioh-container .mask-pendulum {
    position: absolute;
    top: 342px;
    left: 68px;
}

.yugioh-container .image {
    position: absolute;
    top: 375px;
    left: 170px;
    width: 1054px;
    height: 1054px;
}
.yugioh-container .image-pendulum {
    position: absolute;
    left: 94px;
    top: 364px;
    width: 1205px;
    height: auto;
}

.yugioh-container .pack-info {
    position: absolute;
    font-family: ygo-password, serif;
    font-size: 40px;
    top: 1455px;
    right: 148px;
}

.yugioh-container .pack-info.pack-info-pendulum {
    top: 1859px;
    left: 116px;
}
.yugioh-container .pack-info.pack-info-link {
    right: 265px;
}

.yugioh-container .scale {
    position: absolute;
    font-size: 98px;
    font-family: ygo-atk-def, serif;
    letter-spacing: -10px;
    top: 1379px;
    width: 115px;
    text-align: center;
}
.yugioh-container .scale.scale-left {
    left: 83px;
}
.yugioh-container .scale.scale-right {
    right: 94px;
}

.yugioh-container .type {
    display: flex;
    position: absolute;
    top: 254px;
    font-size: 76px;
    right: 134px;
    letter-spacing: 2px;
}
.yugioh-container .type .furigana ruby {
    gap: 20px;
    top: -5px;
}
.yugioh-container .type .furigana rt {
    font-size: 18px;
}
.yugioh-container .type.type-sc {
    font-family: custom1, serif;
}
.yugioh-container .type.type-sc .wrapper {
    font-family: ygo-sc, serif;
}
.yugioh-container .type.type-tc {
    font-family: ygo-tc, '楷体', serif;
}
.yugioh-container .type.type-en {
    font-family: ygo-en-race, serif;
    top: 247px;
    font-size: 74px;
}
.yugioh-container .type.type-kr {
    top: 244px;
    font-size: 88px;
    font-family: ygo-kr-race, serif;
}
.yugioh-container .type.type-kr .type-text, .yugioh-container .type.type-kr .wrapper {
    transform: scaleY(0.75);
}
.yugioh-container .type.type-jp {
    font-family: ygo-jp, serif;
    top: 248px;
}

.yugioh-container .type .type-icon {
    margin-left: 10px;
}
.yugioh-container .type.type-en .type-icon {
    margin-top: 18px;
}
.yugioh-container .type.type-kr .type-icon {
    margin-top: 14px;
    margin-right: 4px;
}
.yugioh-container .type.type-jp .type-icon {
    margin-top: 12px;
}

.yugioh-container .description {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 1528px;
    left: 109px;
    width: 1175px;
    height: 310px;
    font-size: calc(36px*var(--font-size-scale));
    letter-spacing: 1.8px;
    white-space: pre-wrap;
    
}
.yugioh-container .description.description-en {
    font-size: calc(42px*var(--font-size-scale));
}
.yugioh-container .description.description-en.description-normal .effect {
    font-family: ygo-en-italic, serif;
}
.yugioh-container .description .furigana ruby {
    gap: calc(14.5px*var(--font-size-scale));
}
.yugioh-container .description .furigana rt {
    text-align: center;
    font-size: calc(16px*var(--font-size-scale));
}
.yugioh-container .description .subtype .furigana ruby {
    gap: 16px;
    
}
.yugioh-container .description .subtype .furigana rt {
    text-align: center;
    font-size: calc(22px*var(--font-size-scale));
}

.yugioh-container .description.description-pendulum {
    left: 221px;
    width: 950px;
    top: 1282px;
    height: 214px;
}
.yugioh-container .description.description.description-pendulum .furigana ruby {
    gap: calc(12px*var(--font-size-scale));
}
.yugioh-container .description.description.description-pendulum .furigana rt {
    font-size: calc(12px*var(--font-size-scale));
}

.yugioh-container .description .subtype {
    display: flex;
    font-size: 44px;
}
.yugioh-container .description .subtype span.rt {
    font-size: 14px;
    top: -4px;
}
.yugioh-container .description.description-sc .subtype .wrapper {
    font-family: ygo-sc, serif;
}
.yugioh-container .description.description-en .subtype {
    font-family: ygo-en-race, serif;
    font-size: 56px;
}
.yugioh-container .description.description-kr .subtype {
    font-family: ygo-kr-race, serif;
}
.yugioh-container .description .subtype .furigana rt {
    font-size: 14px;
}
.yugioh-container .description .effect {
    line-height: 1.2;
}
.yugioh-container .description .effect.furigana rt {
    font-size: calc(12px*var(--font-size-scale));
}
.yugioh-container .description.description-sc {
    font-family: custom1, serif;
}
.yugioh-container .description.description-tc {
    font-family: ygo-tc, '楷体', serif;
}
.yugioh-container .description.description-en {
    font-family: ygo-en, serif;
}
.yugioh-container .description.description-kr {
    font-family: ygo-kr, serif;
}
.yugioh-container .description.description-jp {
    font-family: ygo-jp, serif;
    line-height: 1.18;
}
.yugioh-container .description .flavor {
    display: inline-flex;
    text-align: right;
    justify-content: right;
    align-items: flex-end;
    padding-bottom: 4px;
    height: 100%;
}
.yugioh-container .description.description-sc .flavor {
    font-family: ygo-sc, serif;
}
.yugioh-container .description.description-en .flavor {
    font-family: ygo-en-italic, serif;
}

.yugioh-container .number-background {
    position: absolute;
    left: 109px;
    top: 1844px;
}

.yugioh-container .number {
    font-family: ygo-atk-def, serif;
    position: absolute;
    top: 1844px;
    font-size: 62px;
    letter-spacing: 2px;
}
.yugioh-container .number.atk {
    right: 395px;
}
.yugioh-container .number.def {
    right: 112px;
}
.yugioh-container .number.link {
    top: 1854px;
    right: 112px;
    font-size: 44px;
    letter-spacing: 2px;
    transform: scaleX(1.3);
    font-family: ygo-link, serif;
}

.yugioh-container .code {
    position: absolute;
    left: 66px;
    top: 1932px;
    font-family: ygo-password, serid;
    font-size: 40px;
}

.yugioh-container .linkmarker {
    position: absolute;
}

.yugioh-container .linkmarker.linkmarker-up {
    top: 278px;
    left: 555px;
}

.yugioh-container .linkmarker.linkmarker-right-up {
    top: 299px;
    left: 1130px;
}

.yugioh-container .linkmarker.linkmarker-right {
    top: 761px;
    left: 1223px;
}

.yugioh-container .linkmarker.linkmarker-right-down {
    top: 1336px;
    left: 1130px;
}

.yugioh-container .linkmarker.linkmarker-down {
    top: 1428px;
    left: 555px;
}

.yugioh-container .linkmarker.linkmarker-left-down {
    top: 1336px;
    left: 95px;
}

.yugioh-container .linkmarker.linkmarker-left {
    top: 758px;
    left: 71px;
}

.yugioh-container .linkmarker.linkmarker-left-up {
    top: 299px;
    left: 95px;
}
